<br>
<br>

<div class="container">
    <div class="row">
            <div class="col-4" *ngFor="let prod of products">
                <div class="card" style="width: 18rem;height: 24rem;">
                    <div class="prodimg">
                        <img class="card-img-top" src="http://rjtmobile.com/grocery/images/{{prod.image}}" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{prod.productName}}</h5>
                        <div>
                            <h2 style="display: inline;">{{prod.price | currency :"INR"}}</h2>
                            <del>{{prod.mrp| currency : 'INR' }}</del>
                        </div>
                        <div class="quantity">
                            <button class="add-btn"></button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>