<div class="text-center">
    <br>
    <br>
    <h1>
        Contact Us
    </h1>
    <p style="padding:40px 40px 0 40px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ullam culpa voluptatum harum tempore qui
        excepturi quaerat commodi, omnis totam alias vel perspiciatis cupiditate impedit, eum aliquam? Voluptas
        obcaecati vitae repellat vero quos qui, officia est consequatur reprehenderit deserunt laborum?</p>
        <p style="padding:0px 40px 0 40px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis temporibus ea porro consectetur in asperiores voluptate illum aut? Enim perspiciatis ipsa officia! Nisi laboriosam corrupti, omnis architecto rerum at delectus.</p>
        
        <br>
    <br>
</div>